.tvContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
}

.tvBody {
  width: 98vw;
  transform: translateY(-3vh) translateX(2vw);
}

.screenContent {
  position: absolute;
  left: calc(2vw + 24vw);
  top: calc(-3vh + 29vh);
  width: 65vw;
  height: 59vh;
  overflow: hidden;
}

.dial {
  cursor: pointer;
}
