@import "tailwindcss";

:root {
  /* Color Palette */
  --background: #CEEBF5;
  --foreground: #171717;
  --red: #B5302B;

  --dark-teal: #007F7E;
  --teal: #1CADAE;
  --light-teal: #87C9BF;

  --dark-pink: #E74656;
  --pink: #F6A393;
  --light-pink: #F9DBC1;

  --dark-green: #6E6336;
  --green: #A0A63A;
  --light-green: #C8D06D;

  --dark-neutral: #C89A5C;
  --neutral: #DFCEA3;
  --light-neutral: #EEE0B3;

  /* Typography */
  --font-heading: var(--font-cherry-cream-soda), "Cherry Cream Soda", cursive;
  --font-subheading: var(--font-pacifico), "Pacifico", cursive;
  --font-body: var(--font-space-grotesk), "Space Grotesk", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red: var(--red);

  --color-dark-teal: var(--dark-teal);
  --color-teal: var(--teal);
  --color-light-teal: var(--light-teal);

  --color-dark-pink: var(--dark-pink);
  --color-pink: var(--pink);
  --color-light-pink: var(--light-pink);

  --color-dark-green: var(--dark-green);
  --color-green: var(--green);
  --color-light-green: var(--light-green);

  --color-dark-neutral: var(--dark-neutral);
  --color-neutral: var(--neutral);
  --color-light-neutral: var(--light-neutral);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-family: var(--font-heading);
  color: var(--dark-teal);
}

h2, h3 {
  font-family: var(--font-subheading);
  color: var(--dark-pink);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

p {
  font-family: var(--font-body);
  color: var(--dark-green);
}